#hanbs_sectionid_hidden {
	display: none !important;
}

.form-table {
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	margin-bottom: 10px;
	display: block;
}

.form-table th {
	padding: 10px 10px 10px 0;
	vertical-align: middle;
	width: 175px;
}

.form-table td {
	padding: 5px;
}

.form-table td input[type="text"],
.form-table td textarea,
#hanbs_datasection,
#hanbs_datapage {
	padding: 10px;
	min-width: 183px;
	margin: 0;
}

textarea.hbs-funk {
	padding: 10px;
	min-height: 63px;
	min-width: 400px;
}

p.nomargin {
	margin-bottom: 0px;
}

p.intro {
	margin-bottom: 0; 
	padding-bottom: 0;
}

small.footnote {
	display: block;
	margin-bottom: 5px;
}

.plugin-hanson-logo {
	position: absolute;
	right: 20px;
	top: 20px;
}

/* POST SCREENS */

.post-box {
	border-bottom: 1px solid #efefef; 
	margin-bottom: 10px;
}

.field-box {
	width: 50%; 
	display: inline-block;
}

.field-label {
	margin-bottom: 0px; 
	font-weight: bold;
}

.post-field {
	width: 90%;
}

.field-label-prefix {
	background: #0085ba;
	-webkit-box-shadow:inset 0 0 10px 0 #006799;
	box-shadow:inset 0 0 10px 0 #006799;
	display: inline-block;
	vertical-align: top;
	padding: 9px 10px 10px 10px;
	border: 1px solid #0073aa;
	position: relative;
	right: -1px;
	color: #fff;
	text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
}

.cpt-field-wrap {
	display: inline-block;
	margin-right: 10px;
}

div.cpt-wrap .form-table th {
	width: 150px;
}

div.saved-flag {
	display: inline-block;
	font-size: 20px;
	vertical-align: middle;
	top: -7px;
	position: relative;
}

div.saved-flag:before {
	color: green;
	font-size: 30px;
	padding: 0px;
}

span.light {
	font-weight: normal;
	color: #bbb;
	font-size: 12px;
}

span.small {
	font-size: 12px;
}

div.alert.danger {
	display: inline-block;
	padding: 10px 30px;
	color: #a94442;
	background-color: #f2dede;
	border: 1px solid #ebccd1;
	border-radius: 3px;
}

div.alert.danger.hide {
	display: none;
}

div.submit-alert {
	margin-bottom: 10px;
}

div.submit-alert.hide {
	display: none;
}

#hanbs_debug_yes,
#hanbs_debug_off {
	position: absolute;
	left: -9999px;
}

.hbs-label {
	display: inline-block;
	width: 50px;
	height: 40px;
	background: #e8e8e8;
	border: 1px solid #dedede;
	line-height: 42px;
	text-align: center;
	text-transform: uppercase;
	color: #666;
	font-weight: bold; 
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;

}

.hbs-label.on {
	border-radius: 5px 0 0 5px;
	border-right: 0px;
}

.hbs-label.off {
	border-radius: 0 5px 5px 0;
}

#hanbs_debug_yes:checked + label,
#hanbs_debug_off:checked + label { 
	background: #0085ba;
	border-color: #0073aa #006799 #006799;
	color: white;
	text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
	-webkit-box-shadow:inset 0 0 10px 0 #006799;
	box-shadow:inset 0 0 10px 0 #006799;
}

.form-table input[type="checkbox"].user-access-option {
	position: absolute;
	left: -9999px;
}

.form-table label {
	position: relative;
}

.form-table input[type="checkbox"].user-access-option + .checkbox-proxy {
	width: 60px;
	height: 30px;
	border: 1px solid #dedede;
	background: #e1e1e1;
	display: inline-block;
	border-radius: 40px;
	position: relative;
	-webkit-box-shadow:inset 0 0 10px 0 rgba(0,0,0,0.05);
	box-shadow:inset 0 0 10px 0 rgba(0,0,0,0.05);
	position: relative;
	top: 5px;
}

.form-table input[type="checkbox"].user-access-option:checked + .checkbox-proxy {
	background: #0085ba;
	border-color: #0073aa #006799 #006799;
}

.form-table input[type="checkbox"].user-access-option + .checkbox-proxy:before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	display: block;
	border-radius: 40px;
	width: 26px;
	height: 26px;
	background: white;
	-webkit-transition: left 0.25s ease-in-out;
	-moz-transition: left 0.25s ease-in-out;
	-ms-transition: left 0.25s ease-in-out;
	-o-transition: left 0.25s ease-in-out;
	transition: left 0.25s ease-in-out;
	-webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);
	box-sizing: border-box;
}

.form-table input[type="checkbox"].user-access-option:checked + .checkbox-proxy:before {
	left: 32px;
	-webkit-box-shadow: 0 3px 3px 0 rgba(0,65,91,0.5);
	box-shadow: 0 3px 3px 0 rgba(0,65,91,0.5);
}

.form-table input[type="checkbox"].user-access-option[readonly] + .checkbox-proxy {
	opacity: 0.25;
	cursor: not-allowed;
}

/*
.form-table input[type="checkbox"] + .checkbox-proxy {
	width: 20px;
	height: 20px;
	border: 1px solid #ddd;
	background: white;
	display: inline-block;
}

.form-table input[type="checkbox"] + .checkbox-proxy:before {
	position: absolute;
	opacity: 0;
	top: -10px;
	left: 1px;
	color: #0085ba;
	font-weight: bold;
	font-size: 21px;
	content: '✓';
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.form-table input[type="checkbox"]:checked + .checkbox-proxy:before {
	opacity: 1;
}

.form-table input[type="checkbox"][readonly] + .checkbox-proxy {
	opacity: 0.5;
	cursor: not-allowed;
}

.form-table input[type="checkbox"][readonly] + .checkbox-proxy:before {
	color: #888;
}
*/

.form-table label:hover ~ p.logged-in-helper {
	opacity: 1;
	left: 0;
}

.form-table p.logged-in-helper {
	font-size: 11px;
	opacity: 0;
	display: inline-block;
	margin: 0;
	position: relative;
	top: -8px;
	margin-left: 10px;
	color: red;
	left: 20px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

